.board {
    z-index: -1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
}

.item {
    position: absolute;
    /* left: 10px; */
    /* top: 40px; */
    /* background-color: red; */
    /* width: 20px; */
    /* height: 20px; */
}