:root {
    --primary-color: #ff8d28;
    --primary-text: #2d2d2d;
}

@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/assets/poppins-light.woff2) format('woff2');
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/poppins-regular.woff2) format('woff2');
}
@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/poppins-semi-bold.woff2) format('woff2');
}

body {
    font-family: 'Poppins';
    margin: 0;
    color: var(--primary-text);
}

#canvas {
    z-index: -1;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

hr {
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.20);
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 10px;
}