.menu-item {
    display: flex;
    align-items: center;
    transition: color 200ms, background-color 200ms;
    padding: 10px;
    border-radius: 4px;
    background-color: transparent;
}

.menu-item:hover {
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, 0.04);
}

.menu-item > * {
    margin-right: 10px;
}

.menu-item > *:last-child {
    margin-right: 0;
}

.menu-item > .text {
    white-space: nowrap;
}